/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: rgb(243 244 246);
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(3 7 18);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(107 114 128);
}

.drag-area {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
